.container {
    padding: 20px;
    display: flex;
}

mat-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 100px;
    text-align: center;
    margin-right: 10px;
}

h2 {
    margin-top: 40px;
    text-align: center;
}