

.heading {
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    max-width: 350px;
    transform: scale(1.5);

    .call-to-action {
        margin: 0 auto;
        width: 75%;
        display: flex;
        justify-content: space-between;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        border-radius: 3px;
        color: white;
        padding: 10px;
        background: #3f51b5 ;
    }


}